:root {
  --highlight-color: #FF7E67;
  --background-color: #FFFFFF;
  --hover-background-color: #EEEEEE;
  --light-color: #42B883;
  --medium-color: #347474;
  --dark-color: #513B56;

  --border-radius: 0.3em;
  --font-headings: 'Lato', sans-serif;
}
body {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "navbar navbar navbar"
    ". news ."
  ;
}
sleek-nav {
  grid-area: navbar;
}
sleek-news {
  grid-area: news;
}
