:root {
  --highlight-color: #FF7E67;
  --background-color: #FFFFFF;

  --shade-light-color: #EEEEEE;
  --shade-medium-color: #AAAAAA;
  --shade-dark-color: #888888;

  --light-color: #42B883;
  --medium-color: #347474;
  --dark-color: #513B56;

  --border-radius: 0.3em;
  --font-headings: 'Lato', sans-serif;
}
